In [34]:
import numpy as np
import pandas as pd

In [35]:
df=pd.read_csv("Salary_Data_Based_country_and_race.csv")
df.head()

,Unnamed: 0,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian

In [36]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [37]:
df.nunique()

Age                     41
Gender                   3
Education Level          7
Job Title              193
Years of Experience     37
Salary                 444
Country                  5
Race                    10
dtype: int64

In [38]:
df["Salary"].median()

115000.0

In [39]:
df["Salary"]=df["Salary"].apply(lambda x:1 if x<df["Salary"].median() else 0)

In [40]:
df.drop(["Job Title"],axis=1,inplace=True)

In [41]:
df.head()

    Age  Gender Education Level  Years of Experience  Salary Country      Race
0  32.0    Male      Bachelor's                  5.0       1      UK     White
1  28.0  Female        Master's                  3.0       1     USA  Hispanic
2  45.0    Male             PhD                 15.0       0  Canada     White
3  36.0  Female      Bachelor's                  7.0       1     USA  Hispanic
4  52.0    Male        Master's                 20.0       0     USA     Asian

In [42]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Years of Experience    3
Salary                 0
Country                0
Race                   0
dtype: int64

In [43]:
df.dropna(inplace=True)

In [44]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [45]:
transformer=ColumnTransformer([("t1",OneHotEncoder(drop="first",sparse=False),["Gender"]),
                              ("t2",OneHotEncoder(drop="first",sparse=False),["Education Level"]),
                              ("t3",OneHotEncoder(drop="first",sparse=False),["Country"]),
                              ("t4",OneHotEncoder(drop="first",sparse=False),["Race"])],remainder="passthrough")
trans_df=transformer.fit_transform(df)

c:\Users\saran\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\saran\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\saran\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\saran\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [46]:
df=pd.DataFrame(trans_df,columns=transformer.get_feature_names_out())

# now data is ready for classification problem , weather the salary is grater than 115000.0 (1) or less than 115000.0 (0)

In [47]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split

In [48]:
df.columns

Index(['t1__Gender_Male', 't1__Gender_Other',
       't2__Education Level_Bachelor's Degree',
       't2__Education Level_High School', 't2__Education Level_Master's',
       't2__Education Level_Master's Degree', 't2__Education Level_PhD',
       't2__Education Level_phD', 't3__Country_Canada', 't3__Country_China',
       't3__Country_UK', 't3__Country_USA', 't4__Race_Asian',
       't4__Race_Australian', 't4__Race_Black', 't4__Race_Chinese',
       't4__Race_Hispanic', 't4__Race_Korean', 't4__Race_Mixed',
       't4__Race_Welsh', 't4__Race_White', 'remainder__Age',
       'remainder__Years of Experience', 'remainder__Salary'],
      dtype='object')

In [49]:
y=df["remainder__Salary"]
x=df.drop("remainder__Salary",axis=1)

In [50]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y)

In [51]:
classifier=BernoulliNB()
classifier.fit(X_train,Y_train)
y_predict=classifier.predict(X_test)

In [52]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
print("accuracy :",accuracy_score(Y_test,y_predict))
print("precision :",precision_score(Y_test,y_predict))
print("recall :",recall_score(Y_test,y_predict))
print("f1_score :",f1_score(Y_test,y_predict))

accuracy : 0.7737313432835821
precision : 0.8075880758807588
recall : 0.7154861944777912
f1_score : 0.7587523870146403